// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    margin: 0;
    padding: 0;
}

.img{
    position: absolute;
    z-index: -100;
    background: url('');
    
}