

<div class = "box1">
<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>
</div>

<h2>新着情報</h2>
 <% @items.each.with_index(1) do |items,index| %>
    <tr>
        <td><%= items.name %></td>
        <td><%= items.prrace %></td>
    </tr>
<% end %>
 